.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #477148;
  min-height: 100%;
  font-size: calc(10px + 2vmin);
  color: white;
  width: 100%;
  display: flex;  
}

.App-link {
  color: #09d3ac;
}
.page {
  margin-top: 10%;
}
.spinner {
  display: flex;
  justify-content: center;
}

@keyframes spin {
  from {transform: rotate3d(0,0,0,0);}
  to {transform: rotate3d(0, 1, 0, 360deg);}
}

@media (max-width: 500px) {
  .App-header {
    display: flex;
    flex-direction: column-reverse;
  }
  .page {
    margin-top: 0;
  }
}